<section class="about" aria-labelledby="about-me-title">
    <h3 id="about-me-title" class="title2">About me</h3>
    <div class="content">
        <p>
            As a software engineer, I am a passionate and dedicated individual with a deep love for solving complex problems
            through software development. With a strong technical background and proficiency in various programming
            languages and development methodologies, I have become an asset to any organization I work for.
        </p>
        <p>
            My educational background in computer science and software engineering has provided me with the foundational
            knowledge and skills necessary for software development. Through years of experience, I have honed my skills in
            developing robust and scalable software systems, collaborating with teams, and staying up-to-date with the
            latest technologies and industry trends.
        </p>
        <p>
            I thrive on the challenge of creating innovative software solutions that not only meet but exceed client and
            user expectations. My attention to detail and commitment to quality ensure that every software system I develop
            is reliable, efficient, and user-friendly.
        </p>
        <p>
            As a software engineer, I am passionate about continuous learning and development, and I am always seeking new
            opportunities to expand my skills and knowledge. My goal is to make a positive impact in the world through the
            development of cutting-edge software systems.
        </p>
    </div>
</section>

<section class="distro-info">
    <p>Favorite Distro: <strong>Ubuntu</strong></p>
</section>

<section class="social" aria-labelledby="social-media-title">
    <h3 id="social-media-title" class="title2">Social Media</h3>
    <ul>
        <li>
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
            <span class="platform">Facebook</span><br>
            <a href="https://www.facebook.com/faisalkhan91" target="_blank" rel="noopener">www.facebook.com/me</a>
        </li>
        <li>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <span class="platform">Instagram</span><br>
            <a href="https://www.instagram.com/faisalkhan_91/" target="_blank" rel="noopener">www.instagram.com/me</a>
        </li>
        <li>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <span class="platform">Twitter</span><br>
            <a href="https://twitter.com/faisalkhan91" target="_blank" rel="noopener">www.twitter.com/me</a>
        </li>
    </ul>
</section>
