<div class="container-fluid">
    <div class="row example-basic">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
            <ul class="timeline">
                <li class="timeline-item period">
                    <div class="timeline-info"></div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h2 class="timeline-title">Cigna Healthcare</h2>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>October 2019 - Present</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">Software Engineer</h3>
                        <ul>
                            <li>Create new and enhance existing application features using AngularJS and RESTful Web
                                Services.</li>
                            <li>Use pandas and dataframe in python to create visual plots to be displayed in the angular
                                application.</li>
                            <li>Use Postman to develop and test new RESTful APIs to consume in Angular services.</li>
                            <li>Built Python and PowerShell scripts to automate standard operating procedures to
                                eliminate repetitive tasks.</li>
                            <li>Create and deploy CI/CD pipeline for applications using Git, GitHub, Jenkins, and
                                Docker.</li>
                            <li>Create custom alert and monitoring framework using python and integrate into splunk.
                            </li>
                            <li>Created custom Framework using python and WC3270 emulator for mainframe alerts.</li>
                            <li>Create and maintain learning in Confluence and have regular Knowledge Transfer sessions
                                with the team.</li>
                            <li>Use agile methodologies and practices to develop, build and deploy new code and
                                processes.</li>
                            <li>Perform sanity, security, and smoke testing on code and script deployments.</li>
                            <li>Develop Synthetics that automate application checks using either Python, SolarWinds and
                                Dynatrace.</li>
                            <li>Automate the web application unit tests by using Katalon to create selenium and python
                                scripts.</li>
                            <li>Approve and deploy code into all environments using udeploy as part of regular DevOps
                                activities.</li>
                            <li>Support Oracle database data flow in Kafka cluster hosted in OpenShift pods and
                                troubleshoot any related issues.</li>
                            <li>Perform KSQL queries to test data flow in Apache Kafka cluster and check Kafka streams.
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="timeline-item period">
                    <div class="timeline-info"></div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h2 class="timeline-title">DCI Resources, LLC</h2>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>September 2018 - November 2019</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">DevOps Engineer</h3>
                        <ul>
                            <li>Used Git workflows for version control (Source Code Management)
                            <li>Deployed Web Applications using Azure Web Console and GitHub.</li>
                            <li>Developed and maintained automated CI/CD pipelines for code deployment using Jenkins and
                                GitLab.</li>
                            <li>Created python automation using custom SOPs.</li>
                            <li>Built and deployed Docker containers for implementing Microservice Architecture from
                                Monolithic Architecture.</li>
                        </ul>
                    </div>
                </li>
                <li class="timeline-item period">
                    <div class="timeline-info"></div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h2 class="timeline-title">University of New Haven</h2>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>January 2017 - May 2018</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">Python Developer</h3>
                        <ul>
                            <li>Worked on software development requests from the product backlog using Django web server
                                and Python.</li>
                            <li>Created RESTful API classes to be consumed in our angular frontend.</li>
                            <li>Maintained the Linux infrastructure hosting the software platform.</li>
                            <li>Used agile methodology for feature development with sprints set every two months.</li>
                            <li>Edited the HTML and CSS templates used in outreach and notification mails sent to the
                                students and faculty, respectively.</li>
                            <li>Maintained PostgreSQL database instance to store data and added models in Django that
                                relate to tables in the database.</li>
                            <li>Communicated with the product owner with regards to implementation of new features.</li>
                        </ul>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>May 2017 - July 2017</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">Research Assistant</h3>
                        <ul>
                            <li>Executed shell scripts to batch process the data using Mapper and Reducer in Hadoop.
                            </li>
                            <li>Created a Python Machine Learning model using Linear regression to set a trend line for
                                each processed data.</li>
                            <li>Plotted charts for the occurrence of each type of storm in R Studio and Spyder using R
                                and Python.</li>
                        </ul>
                    </div>
                </li>
                <li class="timeline-item period">
                    <div class="timeline-info"></div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h2 class="timeline-title">Vodafone Group</h2>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>February 2014 - August 2016</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">Infrastructure Engineer</h3>
                        <ul>
                            <li>Participated in planning, implementation, and growth of our infrastructure on AWS.</li>
                            <li>Wrote python and shell scripts to automate client package installation.</li>
                            <li>Managed private cloud hosted on the VMware ESXi servers using vSphere web client.</li>
                            <li>Worked in a huge backup environment consisting of 100+ backup servers and 15,000 client
                                servers.</li>
                            <li>Created Incremental (Level 1), Full and Archive Log backup policies for Oracle database
                                using RMAN.</li>
                            <li>Created Full, Incremental and Differential backup policies for Windows, UNIX, and Linux
                                client servers.</li>
                        </ul>
                    </div>
                </li>
                <li class="timeline-item period">
                    <div class="timeline-info"></div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h2 class="timeline-title">Mphasis</h2>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>June 2013 - January 2014</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">Linux Administrator</h3>
                        <ul>
                            <li>Managed Red Hat Linux and VMware ESX servers.</li>
                            <li>Consistently maintained 98% uptime by monitoring with Splunk services.</li>
                            <li>Deployed server patches and hotfixes with bash scripts.</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>