<div class="container-fluid">
    <div class="row example-basic">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
            <ul class="timeline">
                <li class="timeline-item period">
                    <div class="timeline-info"></div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h2 class="timeline-title">Cigna Healthcare</h2>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>October 2019 - Present</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">Software Engineer</h3>
                        <ul>
                            <li>Built Python and PowerShell scripts to automate standard operating procedures to eliminate repetitive tasks.</li>
                            <li>Perform feasibility analysis on automation requirements to determine the best approach to automate steps.</li>
                            <li>Develop Synthetics that automate application checks using either Python, Selenium, JSON, Groovy, SolarWinds Dynatrace.</li>
                            <li>Maintain Git Repositories on GitLab server and complete push and merge requests.</li>
                            <li>Create ServiceNow REST APIs using python to automate updating and closing of tasks as well as event management.</li>
                            <li>Create and maintain learnings in Confluence and as well as track team progress with Kanban board.</li>
                            <li>Use agile methodologies and practices in build and deploy process.</li>
                            <li>Perform sanity, security and smoke testing on script deployments.</li>
                            <li>Created logging, monitoring, and alerting into all builds and deployments.</li>
                            <li>Created a custom framework template for checking mainframe systems using Python code and WC3270 Emulator.</li>
                            <li>Automated web application unit tests by using Katalon to create selenium and python scripts.</li>
                            <li>Used Selenium, Java, and Cucumber to demonstrate desktop application automation.</li>
                        </ul>
                    </div>
                </li>
                <li class="timeline-item period">
                    <div class="timeline-info"></div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h2 class="timeline-title">DCI Resources, LLC</h2>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>September 2018 - November 2019</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">DevOps Engineer</h3>
                        <p> 
                        </p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>April 28, 2016</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">Event Title</h3>
                        <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis
                            eu pede mollis pretium. Pellentesque ut neque. </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>