@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
html,
body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    perspective: 800px;
}

body {
    background-color: #227093;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title2 {
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 50px;
}

p {
    color: #333;
}

.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .year_company {
    min-width: 150px;
}

.about .box .year_company h5 {
    text-transform: uppercase;
    font-weight: 600;
    color: #858c90;
}

.about .box .text h4 {
    text-transform: uppercase;
    color: #13688f;
    font-size: 15px;
}

/* Timeline design code */
.timeline {
    width: 800px;
    /*background-color: #072736;*/
    /*color: #fff;*/
    /* padding: 30px 20px; */
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);*/
}

.timeline ul {
    list-style-type: none;
    border-left: 2px solid #094a68;
    padding: 10px 5px;
}

.timeline ul li {
    padding: 20px 20px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

.timeline ul li span {
    display: inline-block;
    background-color: #1685b8;
    border-radius: 25px;
    padding: 2px 5px;
    font-size: 15px;
    text-align: center;
}

.timeline ul li .content h3 {
    color: #34ace0;
    font-size: 17px;
    padding-top: 5px;
}

.timeline ul li .content p {
    padding: 5px 0px 15px 0px;
    font-size: 15px;
}

.timeline ul li:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #df86e9;
    border-radius: 50%;
    left: -11px;
    top: 28px;
    transition: 0.5s;
}

.timeline ul li:hover {
    background-color: #f5f5f5;
}

.timeline ul li:hover:before {
    background-color: rgb(233, 135, 38);
    box-shadow: 0px 0px 10px 2px rgb(255, 217, 0);
}
/* Timeline design code */

/* Responsive code for timeline design */
@media (max-width: 300px) {
    .timeline {
        width: 100%;
        padding: 30px 5px 30px 10px;
    }

    .timeline ul li .content h3 {
        color: #34ace0;
        font-size: 15px;
    }
}
/* Responsive code for timeline design */