<!--Brief introduction part starts-->
<div class="about">
    <h3 class="title2">About me</h3>
    <br>
    <p>
        As a software engineer, I am a passionate and dedicated individual with a deep love for solving complex problems
        through software development. With a strong technical background and proficiency in various programming
        languages and development methodologies, I have become an asset to any organization I work for.
    </p>
    <br>
    <p>
        My educational background in computer science and software engineering has provided me with the foundational
        knowledge and skills necessary for software development. Through years of experience, I have honed my skills in
        developing robust and scalable software systems, collaborating with teams, and staying up-to-date with the
        latest technologies and industry trends.
    </p>
    <br>
    <p>
        I thrive on the challenge of creating innovative software solutions that not only meet but exceed client and
        user expectations. My attention to detail and commitment to quality ensure that every software system I develop
        is reliable, efficient, and user-friendly.
    </p>
    <br>
    <p>
        As a software engineer, I am passionate about continuous learning and development, and I am always seeking new
        opportunities to expand my skills and knowledge. My goal is to make a positive impact in the world through the
        development of cutting-edge software systems.
    </p>
</div>

<div>
<p>Favorite Distro: Ubuntu</p>
</div>

<!--social media id part starts-->
<div class="social">
    <h3 class="title2">
        Social Media
    </h3>
    <ul>
        <li><i class="fa fa-facebook-official" aria-hidden="true"></i><strong>Facebook</strong><br>
            <a href="https://www.facebook.com/faisalkhan91">www.facebook.com/me</a>
        </li>
        <li><i class="fa fa-instagram" aria-hidden="true"></i><strong>Instagram</strong><br>
            <a href="https://www.instagram.com/faisalkhan_91/">www.instagram.com/me</a>
        </li>
        <li><i class="fa fa-twitter" aria-hidden="true"></i><strong>Twitter</strong><br>
            <a href="https://twitter.com/faisalkhan91">www.twitter.com/me</a>
        </li>
    </ul>
</div>
<!--social media id part ends-->
<!--Brief introduction part ends-->
