.home-container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #fff;
}

.lead {
	margin-top: 16px;
	margin-bottom: 16px;
	font-family: "Quicksand";
	color: #fff;
}

.home-header-bar {
	width: 50%;
}

.aeu-signature {
	margin-top: 15px;
	margin-bottom: 15px;
	position: fixed;
	top: 5px;
	left: 50%;
	transform: translate(-50%);
	font-size: 15px;
	line-height: 30px;
	background-color: #fff;
	padding: 5px 10px;
	border-radius: 25px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.aeu-signature {
	font-family: "Quicksand";
}

.aeu-signature>img {
	height: 30px;
}