/* https://www.makeuseof.com/css-progress-bar-examples/ */

h3 {
    display: flex;
    justify-content: center;
}

h4 {
    padding-left: 40px;
}

h5 {
    position: relative;
    line-height: 1.2em;
}

h5:before {
    position: absolute;
    left: 0;
    top: 1.2em;
    height: 0;
    width: 100%;
    content: '';
    border-top: 1px solid gray;
}

@media(max-width: 480px) {
    h4 {
        padding-left: 0px;
    }
}

.skills-wrapper {
    padding: 0.75rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    place-items: center;

}

img {
    padding: 0.75rem;
}

.icon {
    width: 3.875rem;
}

.icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 0 2px;
    padding: 5px;
    margin: 0.93em;
}

.skills .box {
    width: 100%;
    display: grid;
    position: relative;
    grid-template-columns: 150px 1fr;
    justify-content: center;
}

.skills .box h4 {
    text-transform: uppercase;
    color: #8a8a8a;
    font-weight: 600;
}

.skills .box .percent {
    margin-top: 5px;
    background: #dcdfe3;
    width: 100%;
    height: 10px;
    position: relative;
}

.skills .box .percent div {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    background: radial-gradient(circle, rgba(238, 174, 209, 1) 0%, rgba(148, 183, 233, 1) 100%);
}

@media(max-width: 480px) {

    .skills-wrapper {
        grid-template-columns: repeat(3, 1fr);    
    }

    .icon {
        width: 3.875rem;
    }

    .icon-card {
        margin: 7%;
    }
}