<section class="projects" id="projects">
  <h2 class="projects-title">Some of my Recent Projects</h2>
  <div class="projects-container">
    <div class="project-container project-card">
      <img src="./assets/images/portfolio/BookStore.png" alt="book-store" loading="lazy" class="project-pic" />
      <h3 class="project-title">Book Store</h3>
      <p class="project-details">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas
        ratione vel inventore labore commodi modi quos culpa aut saepe!
        Alias!
      </p>
      <a href="#" target="_blank" class="project-link">Check it Out</a>
    </div>
    <div class="project-container project-card">
      <img src="./assets/images/portfolio/StormEvents.gif" alt="Storm-Events" loading="lazy" class="project-pic" />
      <h3 class="project-title">Storm Events</h3>
      <p class="project-details">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas
        ratione vel inventore labore commodi modi quos culpa aut saepe!
        Alias!
      </p>
      <a href="#" target="_blank" class="project-link">Check it Out</a>
    </div>
    <div class="project-container project-card">
      <img src="./assets/images/portfolio/BacktrackingSearch.PNG" alt="Backtracking-Search" loading="lazy"
        class="project-pic" />
      <h3 class="project-title">Backtracking Search</h3>
      <p class="project-details">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas
        ratione vel inventore labore commodi modi quos culpa aut saepe!
        Alias!
      </p>
      <a href="#" target="_blank" class="project-link">Check it Out</a>
    </div>
  </div>
  <div class="projects-container">
    <div class="project-container project-card">
      <img src="./assets/images/portfolio/DictionaryApp.PNG" alt="Dictionary-App" loading="lazy" class="project-pic" />
      <h3 class="project-title">Dictionary Application</h3>
      <p class="project-details">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas
        ratione vel inventore labore commodi modi quos culpa aut saepe!
        Alias!
      </p>
      <a href="#" target="_blank" class="project-link">Check it Out</a>
    </div>
    <div class="project-container project-card">
      <img src="./assets/images/portfolio/InsecureFileExtraction.PNG" alt="Insecure-File-Extraction" loading="lazy" class="project-pic" />
      <h3 class="project-title">Insecure File Extraction</h3>
      <p class="project-details">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas
        ratione vel inventore labore commodi modi quos culpa aut saepe!
        Alias!
      </p>
      <a href="#" target="_blank" class="project-link">Check it Out</a>
    </div>
    <div class="project-container project-card">
      <img src="./assets/images/portfolio/JenkinsCICD.PNG" alt="Jenkins-CI-CD" loading="lazy"
        class="project-pic" />
      <h3 class="project-title">Jenkins CI/CD</h3>
      <p class="project-details">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas
        ratione vel inventore labore commodi modi quos culpa aut saepe!
        Alias!
      </p>
      <a href="#" target="_blank" class="project-link">Check it Out</a>
    </div>
  </div>
</section>