<section class="projects" id="projects">
  <div class="projects-container">
    <div class="project-container project-card">
      <img src="./assets/images/portfolio/BookStore.png" alt="book-store" loading="lazy" class="project-pic" />
      <h3 class="project-title">Book Store</h3>
      <p class="project-details">
        This application serves as a platform for buying and selling online texts. Users can explore a variety of books
        and engage in transactions related to literature and knowledge. 📚🌐
      </p>
      <a href="https://github.com/faisalkhan91/Bookstore" target="_blank" rel="noopener" class="project-link">GitHub
        Link</a>
    </div>
    <div class="project-container project-card">
      <img src="./assets/images/portfolio/StormEvents.gif" alt="Storm-Events" loading="lazy" class="project-pic" />
      <h3 class="project-title">Storm Events</h3>
      <p class="project-details">
        The Storm-Events project hosted on GitHub is an endeavor focused on analyzing and understanding severe weather
        events that occurred between 2012 and 2016.
      </p>
      <a href="https://github.com/faisalkhan91/Storm-Events" target="_blank" rel="noopener" class="project-link">GitHub
        Link</a>
    </div>
    <div class="project-container project-card">
      <img src="./assets/images/portfolio/BacktrackingSearch.PNG" alt="Backtracking-Search" loading="lazy"
        class="project-pic" />
      <h3 class="project-title">Backtracking Search</h3>
      <p class="project-details">
        This project contains a Python program designed to solve a 6x6 Sudoku grid using the backtracking search
        algorithm. It aims to find a solution by systematically exploring choices and backtracking when necessary.
      </p>
      <a href="https://github.com/faisalkhan91/Backtracking-Search" target="_blank" rel="noopener"
        class="project-link">GitHub Link</a>
    </div>
  </div>
  <div class="projects-container">
    <div class="project-container project-card">
      <img src="./assets/images/portfolio/DictionaryApp.PNG" alt="Dictionary-App" loading="lazy" class="project-pic" />
      <h3 class="project-title">Dictionary Application</h3>
      <p class="project-details">
        This is a GUI-based dictionary app that uses the Oxford Dictionary API. It offers features like
        vocabulary-building quizzes, integrated thesaurus, example sentences, audio pronunciations, and a word of the
        day. 📚🔍
      </p>
      <a href="https://github.com/faisalkhan91/Dictionary-Application" target="_blank" rel="noopener"
        class="project-link">GitHub Link</a>
    </div>
    <div class="project-container project-card">
      <img src="./assets/images/portfolio/InsecureFileExtraction.PNG" alt="Insecure-File-Extraction" loading="lazy"
        class="project-pic" />
      <h3 class="project-title">Insecure File Extraction</h3>
      <p class="project-details">
        This project demonstrates the use of path traversal to exploit a poorly coded upload file function for malicious
        code injection onto a web server.
      </p>
      <a href="https://github.com/faisalkhan91/Insecure-File-Extraction" target="_blank" rel="noopener"
        class="project-link">GitHub Link</a>
    </div>
    <div class="project-container project-card">
      <img src="./assets/images/portfolio/JenkinsCICD.PNG" alt="Jenkins-CI-CD" loading="lazy" class="project-pic" />
      <h3 class="project-title">Jenkins CI/CD</h3>
      <p class="project-details">
        This project aims to automate software development processes for efficient deployment. It utilizes technologies
        such as Ansible, Docker, Nginx, PHP, and MySQL. 🚀
      </p>
      <a href="https://github.com/faisalkhan91/Jenkins-CI-CD" target="_blank" rel="noopener" class="project-link">GitHub
        Link</a>
    </div>
  </div>
</section>