<section class="projects" id="projects">
  <h2 class="projects-title">Some of my Recent Projects</h2>
  <div class="projects-container">
    <div class="project-container project-card">
      <img src="./assets/images/portfolio/BookStore.png" alt="book-store" loading="lazy" class="project-pic" />
      <h3 class="project-title">Book Store</h3>
      <p class="project-details">
        This application serves as a platform for buying and selling online texts. Users can explore a variety of books and engage in transactions related to literature and knowledge. 📚🌐
      </p>
      <a href="https://github.com/faisalkhan91/Bookstore" target="_blank" class="project-link">GitHub Link</a>
    </div>
    <div class="project-container project-card">
      <img src="./assets/images/portfolio/StormEvents.gif" alt="Storm-Events" loading="lazy" class="project-pic" />
      <h3 class="project-title">Storm Events</h3>
      <p class="project-details">
        The Storm-Events project hosted on GitHub is an endeavor focused on analyzing and understanding severe weather events that occurred between 2012 and 2016.
      </p>
      <a href="#" target="_blank" class="project-link">Check it Out</a>
    </div>
    <div class="project-container project-card">
      <img src="./assets/images/portfolio/BacktrackingSearch.PNG" alt="Backtracking-Search" loading="lazy"
        class="project-pic" />
      <h3 class="project-title">Backtracking Search</h3>
      <p class="project-details">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas
        ratione vel inventore labore commodi modi quos culpa aut saepe!
        Alias!
      </p>
      <a href="#" target="_blank" class="project-link">Check it Out</a>
    </div>
  </div>
  <div class="projects-container">
    <div class="project-container project-card">
      <img src="./assets/images/portfolio/DictionaryApp.PNG" alt="Dictionary-App" loading="lazy" class="project-pic" />
      <h3 class="project-title">Dictionary Application</h3>
      <p class="project-details">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas
        ratione vel inventore labore commodi modi quos culpa aut saepe!
        Alias!
      </p>
      <a href="#" target="_blank" class="project-link">Check it Out</a>
    </div>
    <div class="project-container project-card">
      <img src="./assets/images/portfolio/InsecureFileExtraction.PNG" alt="Insecure-File-Extraction" loading="lazy" class="project-pic" />
      <h3 class="project-title">Insecure File Extraction</h3>
      <p class="project-details">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas
        ratione vel inventore labore commodi modi quos culpa aut saepe!
        Alias!
      </p>
      <a href="#" target="_blank" class="project-link">Check it Out</a>
    </div>
    <div class="project-container project-card">
      <img src="./assets/images/portfolio/JenkinsCICD.PNG" alt="Jenkins-CI-CD" loading="lazy"
        class="project-pic" />
      <h3 class="project-title">Jenkins CI/CD</h3>
      <p class="project-details">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas
        ratione vel inventore labore commodi modi quos culpa aut saepe!
        Alias!
      </p>
      <a href="#" target="_blank" class="project-link">Check it Out</a>
    </div>
  </div>
</section>