.projects {
  background-color: transparent;
  padding: 32px 0;
  margin-top: 2rem;
}

.project-pic {
  width: 15.5rem;
  height: 9rem;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 0 1px 0;
  padding: 20px;
  margin: 10px;
}

@media(max-width: 480px) {
  .projects-container {
    display: grid;
  }

  .project-card {
      margin: 3.5%;
  }
}