.achievements-wrapper {
    padding: 0.75rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
}

img {
    padding: 0.75rem;
}

.badge {
    width: 7rem;
}

.badge-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 0 2px;
    padding: 5px;
    margin: 0.93em;
}

@media(max-width: 480px) {

    .achievements-wrapper {
        grid-template-columns: repeat(2, 1fr);    
    }

    .badge {
        width: 5rem;
    }

    .badge-card {
        margin: 7%;
    }
}