<!--hobbies part starts-->
<div class="about hobbies">
    <h3 class="title2">Hobbies</h3>
    <ul>
        <li><i class="fa fa-pencil-square" aria-hidden="true"></i><strong>Drawing</strong></li>
        <li><i class="fa fa-cutlery" aria-hidden="true"></i><strong>Cooking</strong></li>
        <li><i class="fa fa-music" aria-hidden="true"></i><strong>Singing</strong></li>
        <li><i class="fa fa-book" aria-hidden="true"></i><strong>Reading</strong></li>
    </ul>
</div>
<!--hobbies part ends-->