.about.hobbies ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
}

.about.hobbies ul li {
    list-style: none;
    color: var(--color-text);
    font-weight: 500;
    margin: var(--spacing-sm) 0;
}

.about.hobbies ul li .fa {
    color: var(--color-secondary);
    font-size: 20px;
    margin-right: 6px;
}

@media (max-width: 600px) {
    .about.hobbies ul {
        grid-template-columns: repeat(2, 1fr);
    }
}
