<!--Technical skills part starts-->
<div class="about skills">
    <h3 class="title2">Professional Skills</h3>
    <div class="box">
        <h4>HTML</h4>
        <div class="percent">
            <div style="width: 100%;"></div>
        </div>
    </div>
    <div class="box">
        <h4>CSS</h4>
        <div class="percent">
            <div style="width: 95%;"></div>
        </div>
    </div>
    <div class="box">
        <h4>JavaScript</h4>
        <div class="percent">
            <div style="width: 90%;"></div>
        </div>
    </div>
    <div class="box">
        <h4>Java</h4>
        <div class="percent">
            <div style="width: 80%;"></div>
        </div>
    </div>
    <div class="box">
        <h4>C</h4>
        <div class="percent">
            <div style="width: 60%;"></div>
        </div>
    </div>
    <div class="box">
        <h4>Python</h4>
        <div class="percent">
            <div style="width: 78%;"></div>
        </div>
    </div>
</div>
<!--Technical skills part ends-->

<!--Communication language part starts-->
<div class="contactInfo language">
    <h3 class="title2">Soft Skills</h3>
    <h4 class="title">Languages</h4>
    <ul>
        <li><span class="text">English</span>
            <span class="percent">
                <div style="width: 100%;"></div>
            </span>
        </li>
        <li>
            <span class="text">Hindi</span>
            <span class="percent">
                <div style="width: 100%;"></div>
            </span>
        </li>
        <li>
            <span class="text">French</span>
            <span class="percent">
                <div style="width: 66.66%;"></div>
            </span>
        </li>
        <li>
            <span class="text">Urdu</span>
            <span class="percent">
                <div style="width: 33.33%;"></div>
            </span>
        </li>
        <li>
            <span class="text">Arabic</span>
            <span class="percent">
                <div style="width: 33.33%;"></div>
            </span>
        </li>
    </ul>
</div>
<!--Communication language part ends-->