<h3 class="title2">Certifications</h3><br>
<div class="achievements-wrapper">
        <img src="./assets/images/achievements/certifications/aws-certified-cloud-practitioner.png" alt="" loading="lazy" class="badge badge-card" />
        <img src="./assets/images/achievements/certifications/microsoft-certified-azure-ai-fundamentals.png" alt="" loading="lazy" class="badge badge-card" />
        <img src="./assets/images/achievements/certifications/microsoft-certified-azure-data-fundamentals.png" alt="" loading="lazy" class="badge badge-card" />
        <img src="./assets/images/achievements/certifications/microsoft-certified-azure-fundamentals.png" alt="" loading="lazy" class="badge badge-card" />
        <img src="./assets/images/achievements/certifications/microsoft-certified-security-compliance-and-identity-fundamentals.png" alt="" loading="lazy" class="badge badge-card" />
</div>

<h3 class="title2">Other Certifications</h3><br>
<div class="other-achievements-wrapper">
        <img src="./assets/images/achievements/certifications/CRLACertifiedL1.png" alt="" loading="lazy" class="badge badge-card" />
        <p>CRLA Level I, II and III</p>
</div>

<h3 class="title2">Courses</h3>
<h4 class="title2">Udemy</h4><br>
<div>
        <ul>
        <li>Master the Coding Interview: Data Structures + Algorithms Master</li>
        <li>Machine Learning A-Z™: Hands-On Python & R In Data Science</li>
        <li>Jenkins, From Zero To Hero: Become a DevOps Jenkins Master</li>
        <li>Master the Coding Interview: Data Structures + Algorithms</li>
        <li>CS101 Learn to Code with Python</li>
        <li>HTML 5: Learn HTML 5</li>
</ul>
</div>
<h4 class="title2">Coursera</h4><br>
<div>
        <ul>
        <li>Google Cloud Platform Fundamentals: Core Infrastructure</li>
        <li>AWS Cloud Practitioner Essentials</li>
</ul>
</div>
<h4 class="title2">Pluralsight</h4><br>
<div>
        <ul>
        <li>Microsoft Azure Security and Privacy Concepts</li>
        <li>Microsoft Azure Cloud Concepts</li>
        <li>Microsoft Azure Pricing and Support Options</li>
        <li>Microsoft Azure Services and Concepts</li>
</ul>
</div>
<h4 class="title2">Skillsoft</h4><br>
<ul>
        <li>Azure Data Fundamentals: Data Workloads</li>
</ul>

<h3 class="title2">Awards and Honors</h3><br>
<div>
        <ul>
        <li>Member of Zeta Chapter of Upsilon Pi Epsilon International Honor Society for the Computing and Information Disciplines.</li>
<li>Received outstanding CLR (Center for Learning Resources) Administrative Staff Award.</li>
<li>Received Vodafone Emerging Star award.</li>
        </ul>

</div>
