<h3 class="title2">Certifications</h3><br>
<div class="achievements-wrapper">
        <img src="./assets/images/achievements/certifications/aws-certified-cloud-practitioner.png" alt="" loading="lazy" class="badge badge-card" />
        <img src="./assets/images/achievements/certifications/microsoft-certified-azure-ai-fundamentals.png" alt="" loading="lazy" class="badge badge-card" />
        <img src="./assets/images/achievements/certifications/microsoft-certified-azure-data-fundamentals.png" alt="" loading="lazy" class="badge badge-card" />
        <img src="./assets/images/achievements/certifications/microsoft-certified-azure-fundamentals.png" alt="" loading="lazy" class="badge badge-card" />
        <img src="./assets/images/achievements/certifications/microsoft-certified-security-compliance-and-identity-fundamentals.png" alt="" loading="lazy" class="badge badge-card" />
</div>

Other Certifications
-	CRLA Level I, II and III

Courses:
Udemy

<h3 class="title2">Awards and Honors</h3><br>
-	Member of Zeta Chapter of Upsilon Pi Epsilon International Honor Society for the Computing and Information Disciplines.
-	Received outstanding CLR (Center for Learning Resources) Administrative Staff Award.
-	Received Vodafone Emerging Star award.

