.projects {
    background-color: transparent;
    padding: 32px 0;
    margin-top: 2rem;
}

.project-pic {
    width: 12.5rem;
    height: 8rem;
    object-fit: cover;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.project-container p {
    padding: 0.4rem;
    width: 12rem;
    height: 11rem;
    color: var(--color-text);
}

.project-details {
    margin-bottom: var(--spacing-sm);
    margin-top: var(--spacing-sm);
}

.project-card {
    background-color: var(--color-bg);
    border-radius: 11px;
    box-shadow: 0 0 1px 0;
    padding: var(--spacing-md);
    margin: var(--spacing-sm);
}

@media (max-width: 480px) {
    .projects-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .project-card {
        margin: 3.5%;
    }
}
